<% var css_list = []%>
<% var js_list=[]%>
<%- include('../partial/header',{css:css_list, js:js_list}) %>
<%- include('../partial/navbar',{user:user}) %>
<div class="wrapper" style="margin-top:56px">
    <%- include('../partial/sidebar', {active:"", parent:"", user:user}) %>
    <div id="content" class="container-fluid">
        <div class="card"
            style="width:400px;margin:0 auto;box-shadow:0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16)">
            <div class="card-body">
                <form id="change_password_form" action="/panels/change_password/changePass">
                    <input type="hidden" name="id_panel_users" id="idpanel" value=<%- user.id %> />
                    <div class="form-group">
                        <label for="oldpassword"><b>Old Password</b></label>
                        <input id="oldpassword" type="password" name="old_password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="newpassword"><b>New Password</b></label>
                        <input id="newpassword" type="password" name="new_password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword"><b>Confirm New Password</b></label>
                        <input id="confirmpassword" type="password" name="confirm_password" class="form-control"
                            required>
                    </div>
                    <div id="errorMessage" class="form-group" style="color:red;"></div>
                    <input id="change_password_button" type="button" value="Save" class="btn btn-lg btn-block"
                        style="background:#0BAEDD;color:#fff">
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partial/javascript',{}); %>
<script type="text/javascript">
    function posting(data) {
        $.ajax({
            method: "POST",
            url: data.url,
            data: data.param
        }).done(data.done);
    }
    $(document).ready(function () {
        $("#change_password_button").click(function () {
            $('#change_password_form').submit();
        })
        $("#change_password_form").submit(function (e) {
            posting({
                url: "/panels/change_password/changePass",
                param: $("#change_password_form").serialize(),
                done: function (res) {
                    if (res.status == "FAILED") {
                        $('#errorMessage').html("Please check your password again!")
                    } else if (res.status == "NOT MATCH") {
                        $('#errorMessage').html("New password do not match!")
                    } else if (res.status == "SUCCESS") {
                        alert(res.status);
                        window.location.href = "/panels/"
                    }
                }
            })
            e.preventDefault();
        })
    });
</script>
<%- include('../partial/footer') %>