<% var css_list = ['/css/tokenfield.css']%>
<% var js_list=[]%>
<%- include('../partial/header',{css:css_list, js:js_list}) %>
<%- include('../partial/navbar',{user:user}) %>
<div class="wrapper" style="margin-top:56px">
	<%- include('../partial/sidebar', {active:"ms_panel_games", parent:"panel", user:user}) %>
	<div id="content" class="container-fluid">
		<div id="background-content">
			<h6>Transaction</h6>

			<article class="pad-2" id="art_scan">
				<section>
					<div class="frm-grp txt-cntr" id="scanner">
						<label class="disp-blck">Choose camera:</label>
						<select id="webcameraChanger" onchange="cameraChange($(this).val());" class="frm-ctrl mar-btm-2"></select>
					</div>
					<!-- webcamera view component -->
					<video id="webcameraPreview" playsinline autoplay controls muted loop style="width: 100%;"></video>
				</section>
			</article>

			<button id="start">Start scan</button>
			<button id="stopped">Stop scan</button>
			<button id="processed">Process transaction</button>

			<hr>
			<label><h3>Process transaction - </h3><span id="now_date"></span></label>
          
			<table id="test_table" class="table table-striped table-bordered" style="width: 100%;font-size:14px;">
				<thead class="thead-dark">
					<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
					</tr>
				</thead>
			</table>
			<hr>

			<p>Total of the transaction is: Rp. <span id="payment"></span></p>

		</div>
	</div>
</div>
<%- include('../modal/ms_transaction/modal_add_pages'); %>

<%- include('../partial/javascript'); %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/external/instascan.js"></script>
<script type="text/javascript" src="/src/QrCodeScanner.js"></script>

<script>
	//HTML video component for web camera
	var videoComponent = $("#webcameraPreview");
	//HTML select component for cameras change
	var webcameraChanger = $("#webcameraChanger");
	var options = {};
	//init options for scanner
	options = initVideoObjectOptions("webcameraPreview");
	var cameraId = 0;
	initScanner(options);
	initAvaliableCameras(
		webcameraChanger,
		function () {
			cameraId = parseInt(getSelectedCamera(webcameraChanger));
		}
	);
	initCamera(cameraId);
	var codedetected = ''
	scanStart(function (data){
		codedetected = data
	});

	$("#started").click(function () {
		scanStart(function (data){
			codedetected = data
		});	
	})

	$("#stopped").click(function () {
		scanStop()		
	})

	$("#processed").click(function () {
		alert(codedetected)
		if (codedetected){
			$.ajax({
				method: "POST",
				url: "/panels/ms_transaction/get",
				data: { code: codedetected }
			}).done(function (res) {
				var d = new Date();
				$('#now_date').html(d);
				$('#payment').html(res.data.totalPayment);
				var entry = res.data.products;
				for(var x=0;x<entry.length;x++){
				$('#test_table').append(`<tr>
						<td>${entry[x].inventory_name}</td>
						<td>${entry[x].inventory_price}</td>
						<td>${entry[x].amount}</td>
					</tr>`);
				}
			})
		}
	
	})

</script>


<%- include('../partial/footer') %>