<% var css_list = ['/css/tokenfield.css']%>
<% var js_list=[]%>
<%- include('../partial/header',{css:css_list, js:js_list}) %>
<%- include('../partial/navbar',{user:user}) %>
<div class="wrapper" style="margin-top:56px">
	<%- include('../partial/sidebar', {active:"ms_panel_users_groups", parent:"admin", user:user}) %>
	<div id="content" class="container-fluid">
		<div id="background-content">
			<h6>Panel Users Groups</h6>
			<table id="groups_table" class="table table-striped table-bordered" style="width: 100%;font-size:14px;">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<%groups.forEach(element => {%>
					<tr>
						<td><%- element.id%></td>
						<td><%- element.name%></td>
					</tr>
					<%});%>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%- include('../partial/javascript'); %>
<script>
	$(document).ready(function () {
		$('#groups_table').DataTable({
			paging: false,
		});
	});
</script>